body {
    padding:            2rem;
    margin:             0;
    background:         black;
    overflow:           hidden;
}

#color-wheel {
    width:              calc(min(100vw, 100vh) - 4rem);
    height:             calc(min(100vw, 100vh) - 4rem);
    margin:             auto;
    background:         radial-gradient(white, transparent 70.7%),
                        conic-gradient(
                            rgb(228,  63,   0),
                            rgb(250, 228,  16),
                            rgb( 85, 204,  59),
                            rgb(  9, 173, 255),
                            rgb(107,  14, 253),
                            rgb(231,  13, 134),
                            rgb(228,  63,   0)
                        );
    border-radius:      50%;
}
